.h_1{
    
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(3, 211, 135);
    font-family: 'Dancing Script', cursive;
}
nav{
    background-color: rgb(98, 134, 134);
      padding-left: 10px;
     
      padding-block: 15px;
}    
.h_2{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 25px;
    width: 1200px;
    margin-left: 40px;
}
section{
    background-color: rgb(132, 162, 183);
    padding-inline-start: 10px;
    padding-block: 1px;
}
.h_3{
   
    font-family: 'Dancing Script', cursive;
    width: 1100px;
    margin-left: 40px;
    padding-bottom:30px;
    padding-top: 20px;
    font-size: 25px;
}
.china_foto1{
    height: 253px;
    width: 361px;
   margin-left: 40px;
   margin-top: 60px;
}
.p_1{
    font-family: 'Dancing Script', cursive;
    width: 400px;
    height: 200px;
    margin-left: 40px;
    margin-top: 20px;
}
.wall_{
    display: flex;
}
.ul_1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 40px;
}